/* COLOURS FOR TEXT */

.nav_pad {
    padding-top: 18px;
    padding-bottom: 18px;
}

  /* light color for text */
.my_l {
    color: #f8f9fa;
}

.my_h1 {
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

/* Style for menu item */
.my_h2 {
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1125rem;
    text-transform: uppercase;
}
  
  /* Style for menu item price and nav */
.my_h3 {
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
  
 /* Style for menu item price and nav */
.my_h4 {
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
  
  /* Style for text and nav */
.my_p1 {
    font-family: Montserrat;
    font-size: 0.90rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
  
  /* Style for text and item description */
.my_p2 {
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
  

  